<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A Cocoa Touch class.</string>
	<key>Summary</key>
	<string>A Cocoa Touch class</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class:</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Description</key>
			<string>What class to subclass in the new file (ex. HodeViewController -&gt; text fileld value is Hoge)</string>
			<key>Type</key>
			<string>class</string>
			<key>Default</key>
			<string>UIView</string>
			<key>FallbackHeader</key>
			<string>#import &lt;UIKit/UIKit.h&gt;</string>
			<key>Values</key>
			<array>
				<string>UIView</string>
				<string>UIViewController</string>
				<string>UITableViewController</string>
				<string>UITableViewCell</string>
				<string>UICollectionViewController</string>
				<string>UICollectionViewCell</string>
				<string>UICollectionReusableView</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>UITableViewController</key>
				<string>TableViewController</string>
				<key>UITableViewCell</key>
				<string>TableViewCell</string>
				<key>UICollectionViewController</key>
				<string>CollectionViewController</string>
				<key>UICollectionViewCell</key>
				<string>CollectionViewCell</string>
				<key>UICollectionReusableView</key>
				<string>CollectionReusableView</string>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>ViewModel</string>
			<key>Name</key>
			<string>Also create ViewModel file</string>
			<key>Description</key>
			<string>Whether to create a ViewModel file with the prefix name</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>RequiredOptions</key>
			<dict>
				<key>cocoaTouchSubclass</key>
				<array>
					<string>UIViewController</string>
					<string>UIView</string>
					<string>UITableViewController</string>
					<string>UITableViewCell</string>
					<string>UICollectionViewController</string>
					<string>UICollectionViewCell</string>
					<string>UICollectionReusableView</string>
				</array>
			</dict>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
